.App-header {
	background-image: linear-gradient(
		to bottom right,
		black,
		#212529,
		#343a40,
		#495057
	);
	min-height: 10vh;
	color: #faf4ea;
}
.header-main {
	color: #e71d36;
}

.footer {
	background-image: linear-gradient(
		to top right,
		black,
		#212529,
		#343a40,
		#495057
	);
	color: #faf4ea;
	height: 5rem;
}
.fit {
	width: 100%;
}
main {
	background-color: white;
	/* background-image: url('/home/j/Documents/code/Random Projects/color-app/src/Images/colorDrip.jpg'); */
}
